<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dhf.mapper.PermissionMapper">

    <resultMap id="BaseResultMap" type="com.dhf.entity.Permission">
        <id property="id" column="id" jdbcType="CHAR"/>
        <result property="pid" column="pid" jdbcType="CHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="TINYINT"/>
        <result property="permissionValue" column="permission_value" jdbcType="VARCHAR"/>
        <result property="path" column="path" jdbcType="VARCHAR"/>
        <result property="component" column="component" jdbcType="VARCHAR"/>
        <result property="icon" column="icon" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
        <result property="gmtCreate" column="gmt_create" jdbcType="TIMESTAMP"/>
        <result property="gmtModified" column="gmt_modified" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,pid,name,
        type,permission_value,path,
        component,icon,status,
        is_deleted,gmt_create,gmt_modified
    </sql>
    <!--    List<String> selectPermissionValueByUserId(@Param("userId")String userID);-->
    <select id="selectPermissionValueByUserId" parameterType="string" resultType="string">
        select permission.permission_value
        from acl_permission permission
                 RIGHT JOIN (
            select role_permission.permission_id
            from acl_role_permission role_permission
                     RIGHT JOIN (
                select user_role.role_id
                from acl_user_role user_role
                where user_role.is_deleted = 0
                  and user_role.user_id = #{userId}
            ) t
                                ON role_permission.is_deleted = 0 and role_permission.role_id = t.role_id
        ) t
                            ON permission.is_deleted = 0 and permission.id = t.permission_id;
    </select>
<!--    List<Permission> selectPermissionByUserId(@Param("userId")String userID);-->
    <select id="selectPermissionByUserId" resultType="com.dhf.entity.Permission" parameterType="string">
        select permission.id,permission.pid,permission.name,permission.type,permission.permission_value,permission.path,permission.component,
               permission.icon,permission.status,permission.is_deleted,permission.gmt_create,permission.gmt_modified
        from acl_permission permission
                 RIGHT JOIN (
            select role_permission.permission_id
            from acl_role_permission role_permission
                     RIGHT JOIN (
                select user_role.role_id
                from acl_user_role user_role
                where user_role.is_deleted = 0
                  and user_role.user_id = #{userId}
            ) t
                                ON role_permission.is_deleted = 0 and role_permission.role_id = t.role_id
        ) t
                            ON permission.is_deleted = 0 and permission.id = t.permission_id;
    </select>
</mapper>
