<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dhf.mapper.RoleMapper">

    <resultMap id="BaseResultMap" type="com.dhf.entity.Role">
            <id property="id" column="id" jdbcType="CHAR"/>
            <result property="roleName" column="role_name" jdbcType="VARCHAR"/>
            <result property="roleCode" column="role_code" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
            <result property="gmtCreate" column="gmt_create" jdbcType="TIMESTAMP"/>
            <result property="gmtModified" column="gmt_modified" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,role_name,role_code,
        remark,is_deleted,gmt_create,
        gmt_modified
    </sql>
<!--    List<Role> selectRoleByUserId(String id);-->
    <select id="selectRoleByUserId" resultType="com.dhf.entity.Role" parameterType="string">
        select role.id,role.role_name,role.role_code,role.remark,role.is_deleted,role.gmt_create,role.gmt_modified
        from acl_role role where role.is_deleted = 0 and id = any(
            select role_id from acl_user_role user_role where user_role.user_id = #{id} and user_role.is_deleted = 0
        );
    </select>
</mapper>
