<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Info</title>
    <script type="text/javascript" th:src="@{/static/jquery-1.7.2.js}"></script>
    <script type="text/javascript">
        $(function () {
            $(".deleteA").click(function () {
                var obj = confirm("确定删除" + $(this).parent().parent().find("td:first").text() + "吗");
                if (obj) {
                    //提交表单
                    var $deleteForm = $("#deleteForm");
                    $deleteForm.prop('action', $(".deleteA").prop('href'));//设置表单属性
                    $deleteForm.get(0).submit();//提交表单
                }
                return false;
            })
            //添加方法
            // $("#add").click(function () {
            //     var $addForm = $("#addForm");
            //     $addForm.prop('border',1);
            //     $addForm.prop('cellpadding',0);
            //     $addForm.prop('cellspacing',0);
            //     $addForm.prop('style',"text-align: center;");
            //     var $1 = $("<tr>\n" +
            //         "        <th>id</th>\n" +
            //         "        <th>lastName</th>\n" +
            //         "        <th>email</th>\n" +
            //         "        <th>gender</th>\n" +
            //         "    </tr>\n" +
            //         "    <tr>\n" +
            //         "        <th><input type=\"text\" name=\"id\"></th>\n" +
            //         "        <th><input type=\"text\" name=\"lastName\"></th>\n" +
            //         "        <th><input type=\"text\" name=\"email\"></th>\n" +
            //         "        <th><input type=\"text\" name=\"gender\"></th>\n" +
            //         "    </tr>" +
            //         "<tr><th><input type='submit' value='提交'> " +
            //         "</th></tr>");
            //     $addForm.html($1);
            //     $addForm.prop("action", $("#add").prop("href"));
            //     return false;
            // })
        })
    </script>
</head>
<body>

<table border="1" cellpadding="0" cellspacing="0" style="text-align: center;" id="dataTable">
    <tr>
        <th colspan="5">Employee Info</th>
    </tr>
    <tr>
        <th>id</th>
        <th>lastName</th>
        <th>email</th>
        <th>gender</th>
        <th>options(<a id="add" th:href="@{/toAdd}">add</a>)</th>
    </tr>
    <tr th:each="employee : ${employeeList}">
        <td th:text="${employee.id}"></td>
        <td th:text="${employee.lastName}"></td>
        <td th:text="${employee.email}"></td>
        <td th:text="${employee.gender}"></td>
        <td>
            <!--            <a th:href="@{/employee/}+${employee.id}"></a>-->
            <a class="deleteA" th:href="@{'/employee/'+${employee.id}}">delete</a>
            <a th:href="@{'/employee/'+${employee.id}}">update</a>
        </td>
    </tr>
</table>
<form method="post" id="deleteForm">
    <input type="hidden" name="_method" value="delete">
</form>
<form method="post" id="addForm">

</form>
<!--<script type="text/javascript" th:src="@{/static/vue.js}"></script>-->
<!--<script type="text/javascript">-->
<!--    var vue = new Vue({-->
<!--        el:"#dataTable",//容器-->
<!--        methods:{ // 方法-->
<!--            deleteEmployee:function (event){-->
<!--                var elementById = document.getElementById("deleteForm");-->
<!--                //target表示当前元素-->
<!--                elementById.action = event.target.href;-->
<!--                elementById.submit();//提交表单-->
<!--                //阻止超链接跳转-->
<!--                event.preventDefault();-->
<!--            }-->
<!--        }-->
<!--    });-->
<!--</script>-->
</body>
</html>