<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <!--filter标签配置一个filter过滤器-->
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>com.local.filter.AdminFilter</filter-class>
    </filter>
    <!--配置filter过滤器的拦截路径-->
    <filter-mapping>
        <!--表示当前的拦截路径给那个filter使用-->
        <filter-name>AdminFilter</filter-name>
        <!--配置拦截路径
        / 表示未http://ip:port/工程路径/ 映射到IDEA的web路径
            * 代表全部
        -->
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
</web-app>